.Modal {
    width: 80%;
    position: fixed;
    top: 25%;
    left: 10%;
    z-index: 11;
    background: #fff;
    padding: 28px 24px 40px;
}

.ModalSlideIn {
    animation: slideIn .4s;
}

.ModalSlideOut {
    animation: slideOut .4s forwards;
}

@keyframes slideIn {
    0% { top: -50%; opacity: 0; }
    80% { top: 30%; opacity: 1 }
    100% { top: 25%; opacity: 1 }
}

@keyframes slideOut {
    0% { top: 25%; opacity: 1 }
    20% { top: 30%; opacity: 1 }
    100% { top: -50%; opacity: 0; }
}