.Modal {
    width: 80%;
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 11;
    background: #fff;
    overflow: hidden;
}

.ModalSlideIn {
    animation: scaleIn .4s;
}

.ModalSlideOut {
    animation: scaleOut .4s forwards;
}

@keyframes scaleIn {
    from { transform: scale(0); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes scaleOut {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(0); opacity: 0 }
}