.GameSquare {
    width: 33.33%;
    height: 33.33%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Square-1 {
    border-right: solid 2px #707070;
    border-bottom: solid 2px #707070;
}

.Square-2 {
    border-bottom: solid 2px #707070;
}

.Square-3 {
    border-left: solid 2px #707070;
    border-bottom: solid 2px #707070;
}

.Square-4 {
    border-right: solid 2px #707070;
}

.Square-6 {
    border-left: solid 2px #707070;
}

.Square-7 {
    border-right: solid 2px #707070;
    border-top: solid 2px #707070;
}

.Square-8 {
    border-top: solid 2px #707070;
}

.Square-9 {
    border-left: solid 2px #707070;
    border-top: solid 2px #707070;
}