$lightRayColor: #57afd8;
$darkRayColor: #2b8bb8;
$podiumShadow: #e2e2e2;
$podiumColor: #c5c5c5;
$winnerColor: #2C6CB7;

$conf_blue: #0848CF;
$conf_red: #E50079;
$conf_green: #9EF500;
$conf_yellow: #FFA900;
$conf_white: #FFF;
$conf_colors: $conf_blue, $conf_red, $conf_green, $conf_yellow;

.PlayAgain {
    position: relative;
    width: 350px;
    height: 370px;
    overflow: hidden;
    left: -30px;
}

@mixin confetti($top, $left, $deg, $color) {
    background: $color;
    top: $top;
    left: $left;
    transform: rotate($deg) skewX(-10deg);
}

@for $i from 1 through 25 {
    $random_color_key: random( length($conf_colors) );
    $conf_random_color: nth($conf_colors, $random_color_key);
    $random_duration: 0.3 + ( random(9)/10 );
    $random_delay: random(6)/10;

    @keyframes confetti_#{$i} {
        from { background: lighten($conf_random_color, 40%) }
        to { background: $conf_random_color }
        
    }

    .Confetti_#{$i} {
        animation: confetti_#{$i} #{$random_duration}s infinite;
        animation-delay: $random_delay;
    }
}

.Confetti {
    position: absolute;
    top: 10px;
    left: 55px;
    width: 240px;
    height: 130px;
    
    div { 
        position: absolute;
        width: 12px;
        height: 6px;
        border-radius: 50% 0px / 20%;
        transform: skewX(-10deg); 
    }

    div:nth-child(1) {
        @include confetti(10px, 40px, 20deg, $conf_blue) }
    div:nth-child(2) {
        @include confetti(30px, 60px, 10deg, $conf_red) }
    div:nth-child(3) {
        @include confetti(40px, 10px, -20deg, $conf_yellow) }
    div:nth-child(4) {
        @include confetti(80px, 40px, 12deg, $conf_green) }
    div:nth-child(5) {
        @include confetti(40px, 100px, 25deg, $conf_white) }
    div:nth-child(6) {
        @include confetti(35px, 200px, 10deg, $conf_blue) }
    div:nth-child(7) {
        @include confetti(60px, 235px, -10deg, $conf_red) }
    div:nth-child(8) {
        @include confetti(20px, 140px, 40deg, $conf_yellow) }
    div:nth-child(9) {
        @include confetti(15px, 100px, -30deg, $conf_green) }
    div:nth-child(10) {
        @include confetti(60px, 170px, 5deg, $conf_white) }
    div:nth-child(11) {
        @include confetti(45px, 130px, 70deg, $conf_blue) }
    div:nth-child(12) {
        @include confetti(60px, 235px, -10deg, $conf_red) }
    div:nth-child(13) {
        @include confetti(20px, 140px, 40deg, $conf_yellow) }
    div:nth-child(14) {
        @include confetti(15px, 100px, -30deg, $conf_green) }
    div:nth-child(15) {
        @include confetti(60px, 170px, 5deg, $conf_white) }
    div:nth-child(16) {
        @include confetti(65px, 75px, -10deg, $conf_blue) }
    div:nth-child(17) {
        @include confetti(20px, 175px, 26deg, $conf_red) }
    div:nth-child(18) {
        @include confetti(80px, 200px, 50deg, $conf_yellow) }
    div:nth-child(19) {
        @include confetti(15px, 220px, -50deg, $conf_green) }
    div:nth-child(20) {
        @include confetti(110px, 20px, -35deg, $conf_white) }
    div:nth-child(21) {
        @include confetti(100px, 230px, -25deg, $conf_blue) }
    div:nth-child(22) {
        @include confetti(80px, 5px, -36deg, $conf_red) }
    div:nth-child(23) {
        @include confetti(135px, 45px, 25deg, $conf_yellow) }
    div:nth-child(24) {
        @include confetti(125px, 190px, -50deg, $conf_green) }
    div:nth-child(25) {
        @include confetti(115px, 215px, 15deg, $conf_white) }
}

@keyframes winner_enter {
    0% { top: -150px; }
    33% { top: 90px; }
    66% { top: 50px; }
    100% { top: 80px; }
}

@keyframes winner_float {
    0% { transform: skewX(-5deg) translateY(0) scale(1) }
    50% { transform: skewX(-5deg) translateY(-6px) scale(1.03) }
    100% { transform: skewX(-5deg) translateY(0) scale(1) }
}

.Winner {
    position: absolute;
    color: $winnerColor;
    top: -150px;
    transform: skewX(-5deg);
    animation: winner_enter .9s, winner_float 1s infinite;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    width: 100px;
    height: 130px;
}

.Winner.X {
    left: 170px;
    div {
        width: 20px;
        background: $winnerColor;
        border-radius: 7px;
        position: absolute;
        height: 136px;
        transform: rotate(30deg);
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    }

    &:after {
        content: '';
        width: 20px;
        background: $winnerColor;
        border-radius: 7px;
        position: absolute;
        height: 130px;
        top: 3px;
        transform: rotate(-30deg);
    }

    &:before {
        content: '';
        width: 20px;
        background: $winnerColor;
        border-radius: 7px;
        position: absolute;
        height: 130px;
        top: 3px;
        transform: rotate(-30deg);
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
        z-index: -1;
    }
}

.Winner.O {
    left: 130px;
    div {
        position: absolute;
        height: 130px;
        width: 100px;
        border: 20px solid $winnerColor;
        border-radius: 50%;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    }
}

.Winner.Draw {
    left: 69px;
    text-align: center;
    font-weight: bold;
    font-size: 76px;
    z-index: 10;
    &:after {
        content: 'DRAW';
        position: absolute;
        top: 20px;
        left: 0;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    }
}

@mixin Ray($top, $left, $deg) {
    transform: rotate($deg);
    top: $top;
    left: $left;
}

.Rays_container {
    width: 350px;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
    background: $darkRayColor;
    background: radial-gradient(circle at 50% 75%, $lightRayColor, $darkRayColor);
    overflow: hidden;
    left: 0px;

    div {
        border-top: 350px solid $lightRayColor;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        height: 0;
        width: 70px;
        position: absolute;
    }

    div:nth-child(1) {
        @include Ray(195px, -20px, -120deg) }
    div:nth-child(2) {
        @include Ray(100px, -45px, -90deg) }
    div:nth-child(3) {
        @include Ray(5px, -20px, -60deg) }
    div:nth-child(4) {
        @include Ray(-60px, 50px, -30deg) }
   div:nth-child(5) {
        @include Ray(-85px, 140px, 0deg) }
    div:nth-child(6) {
        @include Ray(-60px, 232px, 30deg) }
    div:nth-child(7) {
        @include Ray(7px, 300px, 60deg) }
    div:nth-child(8) {
        @include Ray(100px, 325px, 90deg) }
    div:nth-child(9) {
        @include Ray(195px, 300px, 120deg) }
}

%Shadow {
    content: '';
    width: 70px;
    height: 13px;
    background: $podiumShadow;
    position: absolute;
    top: -12px;
    left: -10px;
    transform: skewX(60deg);
}

.Podium_Container {
    position: absolute;
    bottom: 60px;
    left: 80px;
    transform: skew(-1deg) rotate(-1deg);

    .Podium {
        div {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: $podiumColor;
            font-size: 1.3rem;
            font-weight: bold;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
    
        div:nth-child(1) {
            width: 70px;
            height: 60px;
            background: #fff;
            top: 20px;

            &:before {
                content: '';
                width: 20px;
                height: 60px;
                background: $podiumShadow;
                position: absolute;
                left: -20px;
                top: -6px;
                transform: skewY(30deg);
            }

            &:after {
                @extend %Shadow;
            }
        }
        div:nth-child(2) {
            width: 70px;
            height: 80px;
            background: #fff;
            z-index: 2;

            &:before {
                content: '';
                width: 20px;
                height: 21px;
                background: $podiumShadow;
                position: absolute;
                left: -20px;
                top: -6px;
                transform: skewY(30deg);
            }

            &:after {
                @extend %Shadow;
            }
            
        }
        div:nth-child(3) {
            width: 70px;
            height: 50px;
            background: #fff;
            top: 30px;

            &:after {
                @extend %Shadow;
            }
        }
    }
}

.Buttons {
    position: absolute;
    bottom: 10px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    left: 70px;
    button {
        font-size: 1rem;
        padding: 8px 12px;
    }
}

@media ( min-width: 390px ) {
    .PlayAgain { left: 0 }
}



