.Title {
    text-align: center;
    margin: 0;
}

.Button {
    text-align: center;
    margin-top: 44px;
}

.NewGame_container {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 24px;
    background: radial-gradient(circle farthest-corner, #7eaaaf, #48709e);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}