.Title {
    text-align: center;
    margin: 0;
}
.Toggle {
    width: 220px;
    height: 90px;
    margin: auto;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.ToggleSlider {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B72C48;
    position: absolute;
    top: 0;
    transition: all .4s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3) inset;
}

.UserIcon {
    z-index: 20;
}

.UserIcon i { transition: all .4s; font-size: 44px; }

.OnePlayer .UserIcon:nth-child(2) i {
    color: #fff;
}
.OnePlayer .UserIcon:nth-child(3) i {
    color: #B72C48;
}
.TwoPlayers .UserIcon:nth-child(2) i {
    color: #B72C48;
}
.TwoPlayers .UserIcon:nth-child(3) i {
    color: #fff;
}

.ToggleSliderLeft.ToggleSlider img:nth-child(1) {
    transform: translateX(50%);
}
.ToggleSliderLeft.ToggleSlider img:nth-child(2) {
    transform: translateX(-50%);
}

.ToggleSliderRight.ToggleSlider img:nth-child(1) {
    transform: translateX(0);
}
.ToggleSliderRight.ToggleSlider img:nth-child(2) {
    transform: translateX(0);
}

.ToggleSliderLeft {
    left: 0;
}

.ToggleSliderRight {
    left: 90px;
    width: 130px;
}

