.GameLevels {
    height: 36px;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > div {
        float: left;
        display: flex;
        align-content: center;
        justify-content: center;
        transition: all 0.2s;
        cursor: pointer;

    }
    &:after { clear: both }
}

.ActiveLevel {
    transform: scale(1.7);
    color: #bd4c61;
    font-weight: bold;
}